body{ 
  background-image: url("../images/Simplon clermont polygone.png");
    padding: 0%;
    margin: 0%;
    background-size: contain;
    background-repeat: space;
    background-position: center;
   
} 

#gauche{
   border: rgb(8, 167, 74) 1px solid;
    height: 80vh;
    width: 30vw;
    color: white;
    float: left;
}

.ferro{
    font-size: 7vh;
    font-weight: bolder;
}

#droite { 
    background-color:#181717;
   float: right;
   height: 100vh;
   width: 14vw;
   opacity: 0.95;
   
}

#bouton{
    position: absolute;
    width: 50px;
    height: 40px;
    margin-left: 6%;
    margin-top: 2%;
}


#bouton p{
background-color: white;
margin: 20% 30% -18% 47%;
text-decoration: none;
float: right;
font-size: 5Px;

}

 #bouton p:hover{background-color: rgb(255, 255, 255);
margin: 15% 30% -18% 47%;
text-decoration: none;
float: right;
font-size: 10Px;
}

#bouton a{
    text-decoration: none;
}

#logo{
    padding-top: 12.5vh;
    padding-left: 5vw;
}

#logo img{
    margin-right: 5%;
    margin-top:15%;
    height: 8vh;
    width: 4vw;}


#carrerouge{
    background-color: #E31019;
    height: 10vh;
    margin-top: 8.7vh;
}


i { 
    color: white;}

.fa, .fas {
    font-weight: 700;
    padding: 10% 0% 0% 45%;
}
