body{ 
  background-image: url("../menu-home-image.jpg");
    background-size: 100vh;
    background-repeat: no-repeat;
} 
#droite{
    
}
#gauche{
    float: right;
    border: 2px white solid;
    height: 100vh;
    padding: 0%;
    margin: 0% 0% 50% 0%;
    background-color: black;
}
/* #E31019;*/