body{ 
    background-color: rgb(49, 43, 43);
    color: aliceblue;
} 

#gauche{
    float: right;
    width: 40vh;
    border: 2px white solid;
    height: 100vh;
    padding: 0%;
    margin: 0% 0% 50% 0%;
    background-color: black;
}
/* #E31019;*/